@page "{id:int}"
@model Admin.Pages.Category.EditModel
@{
    ViewData["Title"] = "Edit Category";
}

<form method="post">
    <input type="hidden" asp-for="Category.CreatedAt" />
    <input type="hidden" asp-for="Category.CreatedBy" />
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-8 pt-4">
            <input type="hidden" asp-for="Category.Id" />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Category.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Category.Name" class="form-control" />
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-success form-control">Save</button>
                        </div>
                        <div class="col">
                            <a asp-page="./Index" class="btn btn-danger form-control">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}