@page
@model ECommerce.Ui.Areas.Account.Pages.Profile.UpdateModel
@{
    ViewData["Title"] = "Profile Update";
}

<form method="post">
    <div class="row p-3 border">
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-8 pt-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.PhoneNumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Input.Address"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Input.Address" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control">Submit</button>
                        </div>
                        <div class="col">
                            <a asp-page="/Index" class="btn btn-danger form-control">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    @if (TempData["ProfileUpdateMessage"] != null)
    {
        <script async>
            Swal.fire({
                icon: 'success',
                title: 'E-Mall',
                text: "@TempData["ProfileUpdateMessage"]"
            });
        </script>
    }
}
